:root {
  --backgroundcolor: hsl(30, 54%, 90%);
  --titlecolor: hsl(24, 5%, 18%);
  --textcolor: hsl(30, 10%, 34%);
  --listcolor: hsl(330, 100%, 98%);
  --timecolor: hsl(332, 51%, 32%);
  --ingredientcolor: hsl(14, 45%, 36%);
}
body {
  height: 100%;
  margin: 0;
  background-color: var(--backgroundcolor);
  font-family: "Outfit", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.div-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 70%;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.omelette-image {
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  border-radius: 20px;
}
.div-2 {
  width: 94%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 30px;
}
.title {
  margin: 0;
  font-size: 65px;
  color: var(--titlecolor);
}
.div-3 {
  margin: 0;
  width: 94%;
}
.bio {
  margin: 0;
  color: var(--textcolor);
  font-size: 23px;
}
.div-4 {
  margin-top: 40px;
  background-color: var(--listcolor);
  width: 90%;
  text-align: left;
  border-radius: 20px;
  padding-left: 34px;
  padding-bottom: 15px;
}
.div-4 p {
  margin-bottom: 20px;
  color: var(--timecolor);
  font-size: 20px;
}
.div-4 li {
  margin-top: 15px;
  color: var(--textcolor);
}

.div-5 {
  margin-top: 40px;
  width: 90%;
  text-align: left;
  border-radius: 20px;
  padding-left: 34px;
  padding-bottom: 15px;
}
.div-5 p {
  margin-bottom: 20px;
  color: var(--ingredientcolor);
  font-size: 30px;
}
.div-5 li {
  margin-top: 15px;
  color: var(--textcolor);
}
.line {
  color: var(--textcolor);
  width: 90%;
  margin-top: 40px;
}
.div-6 {
  margin-top: 10px;
  width: 92%;
  text-align: left;
  border-radius: 20px;
  padding-bottom: 15px;
}
.div-6 p {
  margin-bottom: 20px;
  margin-left: 25px;
  color: var(--ingredientcolor);
  font-size: 30px;
}
.div-6 li {
  margin-top: 15px;
  color: var(--textcolor);
  font-size: 23px;
}
.div-7 {
  margin-top: 10px;
  width: 92%;
  text-align: left;
  border-radius: 20px;
  padding-bottom: 15px;
}
.nutrition {
  margin-bottom: 20px;
  margin-left: 25px;
  color: var(--ingredientcolor);
  font-size: 30px;
}
.div-7 p {
  margin-bottom: 20px;
  margin-left: 25px;
  color: var(--ingredientcolor);
}
.div-7 table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 20px;
  border-color: gray;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
th,
td {
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
  color: var(--textcolor);
}
td {
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
}
